/*.body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/
.container{
  margin: 100px;
  /*align-content: center;*/
  align-self: center;

}
a {
  color: #00B7FF;
}
.btn{
  margin: 5px;

}